# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.*

# Editor / IDE
.idea/
.vscode/
.zed/
.fleet/
.phpactor.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose-backend.yml
.dockerignore

# Logs & build tools
npm-debug.log
yarn-error.log

# Optional ignore
auth.json
